.contenedor
{
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.contenedor1
{
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
}    
.contenedor2
{
    background-color: yellow;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
.contenedor3
{
    background-color: green;
    padding: 10px;
    /* display: flex;
    flex-grow: 1;
    width: 600px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between; */
}
.fila1
{
    background-color: pink;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
.fila2
{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.caja1
{
    background-color: orange;
    margin: 5px;
    width: 100px;
    height: 100px;
    
}
.caja2
{
    background-color: purple;
    margin: 5px;
    width: 100px;
    height: 100px;
}
.caja3
{
    background-color: white;
    margin: 5px;
    width: 210px;
    height: 100px;
}
